
#
# Module configuration file for
# MacoyFirstApp
# (com.sixmith.macoyfirstapp)
#

displayname: MacoyFirstApp
moduletype: widgetapplication
depends: com.eqela.libcommonwidget
depends: com.eqela.libtextinputwidget
depends: com.eqela.libselectorwidget
depends: com.eqela.libdialogwidget
depends: com.eqela.libpopupwidget
depends: com.eqela.libapplicationdata
depends:com.eqela.libwidget
depends:com.eqela.libcommonwidget